html,body{
	margin: 0px;
	padding: 0px;
	
}

body{
	background-color: #1B2026;

}

.navigation{
	background-color:#1B2026;;
	color:#800000;
	height: 50px;
	animation-name: navegacao;
	animation-duration:8s;
}

.navigation ul{
	margin: 0px;
	list-style: none;
	padding: 0px;
	text-align: right;
	height: 50px;
}
.navigation li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
}
.navigation a {
	color:white;
	text-decoration: none;
}

.navigation a:hover{
	color:#800000;
}
.navigation li.treslines:hover{
	color: #800000;
	cursor: pointer;
	display: none;
}
.capa{
	color: white;
	vertical-align: top;
}

.capa span {
	color:#800000;
	display: block;
}

.capa div{
	display: inline-block;
}

.profile-pic{
	width: 40%;
	text-align: center;
	animation-name: profile-capa;
	animation-duration:8s;

}
.profile-pic img{
	width: 350px;
	border-radius: 350px;
	margin-top: 100px;
}

.profile-title{
	vertical-align: top;
	width: 59%;
	animation-name: titulo-capa;
	animation-duration:8s;

}

.profile-title h1{
	font-size: 58px;
	text-transform: uppercase;
	margin-top: 200px;
}

.profile-title h2{
	font-size: 20px;
	margin-left: 70px;
}

.profile-title a{
	font-size: 20px;
	margin-left: 70px;
	color: white;
}

.main{
	padding: 80px 180px 80px 100px;
	animation-name: conteudo;
	animation-duration:6s;
}
.cv-pic{

	float: right;
	width: 200px;
	margin-right: 30px;
	margin-top: 100px;
	border-radius: 200px;

}

.main h1 {
	color: white;
	font-weight: normal;
}

.main h2 {
	color:white;
	font-size:12px;
	font-weight: normal;
	text-transform: uppercase;
}
.main h3{
	color: #800000;
	font-size:12px;
	text-transform: uppercase;
}

.main p{
	font-size: 18px;
	color: white;
	line-height: 24px;
	font-weight: 100;
	text-align: justify;
}

.caminho  {
	list-style: none;
	color:grey;
	padding-left: 0;
}

.caminho a{
	color:gray;
}
.caminho li {
	display: inline-block;
}

.social-img {
	width: 50px;
	margin-right: 20px;
}

.miniatura{
	width: 320px;
	height:320px;
	background-image:url("../img/box1.jpg");
	margin-bottom: 16px;
	margin-right:16px;
	display: inline-block;
	background-size: contain;
	overflow: hidden;
}
.miniatura a {
	text-decoration: none;
}
.blackbox{
	width: 100%;
	height: 100%;
	background-color:black;
	opacity: 0;
	padding-top: 120px;
	transition:1s

}

.blackbox:hover{
	opacity: 0.8;
	transition:1s;
}

.blackbox-text{
text-align: center;

}

.blackbox-text h1{
	text-transform: uppercase;
	font-size: 16px;
	color: #800000;
}

.blackbox-text h2{
	text-transform: none;
	font-weight: 100;
}

.fotos-trabalhos{
	width:100%;
	margin-bottom: 10px;
	margin-top:10px;
}
.back-link{
	color:#800000;
	text-decoration: none;
}

@keyframes profile-capa{
	0%{opacity:0; transform: translate(0px,20px)}
	100%{opacity:1; transform: translate(0px,0px)}
}

@keyframes titulo-capa{
	0% {opacity:0; transform: translate(0px,-20px)}
	100% {opacity:1; transform: translate(0px,0px)}
}

@keyframes navegacao {
	0%{opacity: 0;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}

@keyframes conteudo{
	0% {opacity:0; transform: translate(-20px,-0px)}
	100% {opacity:1; transform: translate(0px,0px)}
}


@media (max-width:1000px){
.navigation li{
	display: none;
}

.navigation li.treslines{
	display: inline-block;
}
.profile-pic{
	width: 100%;

}
.profile-title{
	width: 100%;
	text-align: center;
}
.profile-pic img{
	margin-top: 0;
	max-width:80%;
}
.capa div{
	display: inline-block;
	height: auto;
}
.profile-title h1{
	margin-top: 30px;
	font-size: 40px;
	margin-left: 20px;
	margin-right:20px;
}
.profile-title h2{
	margin-top: 20px;
	margin-left: 20px;
	margin-right:20px;
}
.main{
	padding: 10px 5% 40px 5%;	
}

.main a {
	overflow-wrap:break-word;
	word-wrap:break-word;
}
.main p {
	text-align: left;
	line-height: 30px;
}

.caminho li{
font-size: 12px;
}

.cv-pic{

	float: none;
	max-width: 100%;
	border-radius: 200px;

}
.miniatura{
	max-width: 100%;
	background-size: auto 100%;
}
.blackbox{
	opacity: 0.8;
}

.menujs{
	height: auto;

}
.menujs li{
	display: block;

	border-bottom: solid grey 1px;
}
.menujs ul{
	height: auto;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;

}


}
